@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap';
@import "mixins";

:root {
  --primary-color: #F3CA20;
  --background-color: #FFF;
  --background-dark-color: #FBFBFB;
  --text-color: #000;
  --text-light-color: #F3CA20;
  --text-disabled-color: #BBB;
  --link-color: #0478FF;
  --error-color: #FF1C1C;
  --border: 6px;
  --box-shadow-main: 0px 12px 28px rgb(0 0 0 / 10%), 0px 2px 4px rgb(0 0 0 / 10%), inset 0px 0px 0px 1px rgb(255 255 255 / 30%);
  --box-shadow-bottom: 0 1px 0 rgb(0 0 0 / 10%);;
  --box-shadow-left: inset 1px 0 0 rgb(0 0 0 / 10%);
  --box-shadow-message: 0 4px 4px rgb(0 0 0 / 25%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  appearance: none;
  color: var(--link-color);
  text-decoration: underline;
  font-size: 16px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 32px;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 400;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

   > li
  {
    text-align: center;
  }
}

form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.frame {
  border-radius: 6px;
  background: var(--background-color);
  box-shadow: var(--box-shadow-main);
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  padding: 30px 10px;

  &_sm
  {
    width: 400px;
    min-height: 600px;
  }

  &_md
  {
    width: 750px;
    min-height: 600px;
  }

  &_xl
  {
    width: 1150px;
    height: 630px;
    padding: 0;
  }

  &__wrapper
  {
    flex-grow: 1;
  }
}
