.frame__registration
{
  &_cols
  {
    padding: {
      left: 40px;
      right: 40px;
    };

    flex-grow: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }
}
