.default__input
{
  height: 40px;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: auto;
  font-size: 14px;
  line-height: 17px;
  text-indent: 10px;
  border-radius: 6px;
  background-color: var(--background-color);
  border: 1px solid #BBBBBB;
  outline-width: 0;
}
